.input_container {
  display: flex;
  margin-top: 1rem;
}

.input_pre {
  color: #9aefea;
}

.input_field {
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  cursor: context-menu;
}

.input_field:focus {
  /* outline: none;
  color: transparent; */
  text-shadow: 0px 0px 0px white;
}

/* .cursor {
  position: relative;
}

.cursor i {
  position: absolute;
  width: 8px;
  height: 1.25em;
  background-color: blueviolet;
  left: 2px;
  top: 0;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
} */

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.history {
  /* width: 8vw; */
  color: pink;
  /* width: 100%; */
}

.cmd {
  color: green;
  min-width: 8vw;
}
